/* Earthquakes_past7days */


html,
body,
#mapid {
  width: 100%;  /* set the height of the <div> element to 100% of the page*/
  height: 100%;
  padding: 0;
  margin: 0;
};



.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}; 

.legen i {
  width: 18px;
  height:18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
};