/* module 13, s13.2.3 create html,css files */

html,
body,
#mapid {
  width: 100%;  /* set the height of the <div> element to 100% of the page*/
  height: 100%;
  padding: 0;
  margin: 0;
}


/*  #mapid => id of the map <div>
*/